<% form_for @search do |f| %>
  <table>
    <tr>
      <td>Страна</td>
      <td><%= f.select 'country_id',
            Country.find(:all,:order => :title).map { |it| [it.title, it.id] },
            { :include_blank => false },
              :onchange => remote_function(:update => "resort_items",
      :url => resorts_path,
      :with => "'country_id='+$('search_country_id').value",
      :method => :get,
      404 => "alert('error '+response.text)"
      
      ) %></td>
    <script>
<%#
      //:complete => "var x = eval('(' + request.responseText + ')'); alert(var_dump(x));"
%>

      function var_dump(arr,level) {
  var dumped_text = "";
  if(!level) level = 0;

  //The padding given at the beginning of the line.
  var level_padding = "";
  for(var j=0;j<level+1;j++) level_padding += "    ";

  if(typeof(arr) == 'object') { //Array/Hashes/Objects
   for(var item in arr) {
    var value = arr[item];

    if(typeof(value) == 'object') { //If it is an array,
     dumped_text += level_padding + "'" + item + "' ...\n";
     dumped_text += var_dump(value,level+1);
    } else {
     dumped_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
    }
   }
  } else { //Stings/Chars/Numbers etc.
   dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
  }
  return dumped_text;
}

    </script>
    </tr><tr>
        <td>Курорт</td>
        <td><div id="resort_items"></div></td>
      </tr><tr>
        <td>Вылет из</td>
        <td><%= f.select 'departure_city_id', DepartureCity.find(:all,:order => :title).map { |it| [ it.title, it.id ] }, { :include_blank => false } %></td>
      </tr>
      <tr>
        <td>Категория отеля</td>
        <td><%= f.select 'hotel_category_id', HotelCategory.find(:all,:order => :title).map { |it| [ it.title, it.id ] }, { :include_blank => false } %></td>
      </tr>
      <tr>
        <td>Пансион</td>
        <td><%= f.select 'meal_id', Meal.find(:all,:order => :title).map { |it| [ it.title, it.id ] }, { :include_blank => false } %></td>
      </tr>
      <tr>
        <td>Размещение</td>
        <td><%= f.select 'accomodation_id', Accomodation.find(:all,:order => :title).map { |it| [ it.title, it.id ] }, { :include_blank => false } %></td>
      </tr>
      <tr>
        <td>Дата:</td>
        <td>
          <%= f.calendar_date_select :date_from%>
          -<%= f.calendar_date_select :date_till%>

<%#= f.text_field 'date_from', :size => 7 %>  <%#= f.text_field 'date_till', :size => 7 %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'Искать' %></td>
      </tr>
    </table>
<% end %>
