<% form_for @search do |f| %>
  <table>
    <tr>
      <td>Страна</td>
      <td><%= f.select "country_id", Country.all.map { |it| [it.title, it.id] }, { :include_blank => true } %></td>
      </tr><tr>
        <td>Курорт</td>
        <td><%= f.select 'resort_id', Resort.all.map { |it| [ it.title, it.id ] }, { :include_blank => true } %></td>
      </tr><tr>
        <td>Вылет из</td>
        <td><%= f.select 'departure_city_id', DepartureCity.all.map { |it| [ it.title, it.id ] }, { :include_blank => true } %></td>
      </tr><tr>
        <td>Категория отеля</td>
        <td><%= f.select 'hotel_category_id', HotelCategory.all.map { |it| [ it.title, it.id ] }, { :include_blank => true } %></td>
      <tr>
        <td>Дата:</td>
        <td><%= f.text_field 'date_from', :size => 7 %> - <%= f.text_field 'date_till', :size => 7 %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'Искать' %></td>
      </tr>
    </table>
<% end %>
