
<table class="sortable">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Ночей</th>
      <th>Регион</th>
      <th>Отель</th>
      <th>Класс отеля</th>
      <th>Тип номера/Проживание</th>
      <th>Пансион</th>
      <th>Цена</th>
      <th class="nosort">Валюта</th>
      <th>Оператор</th>
    </tr>
  </thead>
  <tbody>
<% @search.results.each do |hotel|  %>
        <tr>
          <td><%=hotel['date']%></td>
          <td><%=hotel['nights']%></td>
          <td><%=hotel['region']%></td>
          <td><%=hotel['hotel']%></td>
          <td><%=hotel['stars']%></td>
          <td><%=hotel['nomer']%><% if hotel.key?('nomer_col_type') %>/ <%=hotel['nomer_col_type']%><% end  %></td>
          <td><%=hotel['eda']%></td>
          <td><%=hotel['coast']%></td>
          <td><%=hotel['currency']%></td>
          <td><%=hotel['operator']%></td>
        </tr>
<% end  %>
  </tbody>
</table>

